{% extends "charity/header.html" %}
{% block content %}
<div class="container">
<div class="row">
<div class="about-section">
    <h1>Charity Management System</h1>
    <p>This system is built with the purpose of helping <br>
         the people and NGO for fund raising process</p>
</div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/static/img/aayush.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Aayush Humagain</h2>
          <p class="title">Backend and Database</p>
          <p>I contributed in backend and database portion like building queries, celery etc</p>
          <p>aayushhumagain23@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/static/img/samir.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Samir Karki</h2>
          <p class="title">Frontend</p>
          <p>I designed most of the pages of charity system using html, css, bootstrap and javascript</p>
          <p>samirkarki5@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/static/img/theraj.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Rajendra Karki</h2>
          <p class="title">Backend</p>
          <p>I contributed in charity management system in the backend portion</p>
          <p>rajendrakarki@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}