{% extends "charity/header.html" %}
{% block content %}
<h2 class="text-center mt-1 text-success">NGO Registration</h2>
<div class="container pt-3 pb-5">
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" hidden value="" name="ngo_user">
    <div class="row">
        <div class="col">
            <label class="form-label" for="name"> Ngo Name</label>
            <input type="text" class="form-control" name="name" />
        </div>
        <div class="col">
            <label class="form-label" for="head_of_ngo">Head Of Ngo</label>
            <input type="text" class="form-control" name="head" />
        </div>
        </div>
        <div class="row mt-4">
            <div class="col">
            <label class="form-label" for="phone">Contact No.</label>
            <input type="number" class="form-control" name="phone" id="phone" />
        </div>
        <div class="col">
            <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" name="email" />
        </div>
        </div>
        <div class="row mt-4">
            <div class="col">
            <label class="form-label" for="form6Example3">Certificate of Registration</label>
            <input type="file" class="form-control"  name="certificate1"/>
        </div>
        <div class="col">
        <div class="form-outline mb-4">
            <label class="form-label" for="certificate">PAN Certificate</label>
            <input type="file" class="form-control" name="certificate2" />
        </div>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="certificate">Benificiary Profile</label>
            <input type="file" class="form-control" name="profile" />
        </div>
        <div class="text-left mb-4">
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </div>
</form>
</div>
<script>
    jQuery(document).ready(function () {
      jQuery("#phone").keypress(function (e) {
         var length = jQuery(this).val().length;
       if(length > 9) {
            return false;
       } else if(e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
       } else if((length == 0) && (e.which == 48)) {
            return false;
       }
      });
    });
</script>
{% endblock content %}