{% extends "charity/header.html" %}
{% block content %}
{% load static %}
{% load custom_tags %}
{% include 'messages.html' %}
<div class="container mt-5 mb-5">
  <div class="col" style="margin-bottom: 20px;">
   Category 
  <select class="js-example-basic-single" id="cat" style="width: 80px;" onchange="location=this.value;">
    <option value="">Select an option</option>
    <option value="requests"> User </option>
    <option value="ngo-request"> NGO </option>
  </select>
  </div>
  <div class="row">
    {% for d in data %}
    {% if d.amount|to_int != d.amount_recieved|to_int and d.amount|to_int > d.amount_recieved|to_int %}
    <div class="col-sm-4 mb-3">
      <a style="text-decoration: none; color: black;" href="{% url 'requests' d.id %}">
        <div class="card text-white bg-dark bg-gradient border-warning opacity-25 mb-3" style="width: 18rem;">
          {% for i in img %}
            {% if i.fund == d %}
              <img src="{{ i.image1.url }}" class="card-img-top" alt="image">
            {% endif %}
          {% endfor %}
        <div class="card-body">
          <h5 class="card-title text-info">{{d.reason}}</h5>
          <p class="card-text text-success">Name:  {{d.name}}</p>
          <p class="card-text text-success"> Amount:  {{d.amount}}</p>
          <p class="card-text text-success"> Posted At:  {{d.postted_at}}</p>
          {% if d.verification_status is Null or d.verification_status is False%}
          <h6 class="card-text text-success">Status:  Pending </h6>
          {% elif d.verification_status is True %}
          <h6 class="card-text text-success">Status: Verified </h6>
          {% endif %}
      </div>
      <div class="card-body">
        {% if d.verification_status is True %}
        <a href="{% url 'charge' d.id %}" class="card-link btn btn-outline-info">Donate </a>
        {% endif %}
      </div>
    </div>
  </a>
</div>
{% endif %}
{% endfor %}
</div>
</div>
<script>
$(document).ready(function() {
  $('.js-example-basic-single').select2();
  // $('#cat').on("select2:select", function(e){
  //   if(this.value=='ngo-request'){
  //     window.location = 'ngo-request';
  //   }
  //   else{
  //     window.location='requests'
  //   }
  // });
});
</script>

{% endblock %}






















