{% extends "charity/header.html" %}
{% load custom_tags %}
{% block content %}
{% include 'messages.html' %}
<div class="container">
    <h1 class="text-center mt-4 text-primary"> {{ data.reason }} </h1>
    <hr style="width: 100%;">
    <div class="row text-center mt-4">
            <div class="col-md-6">
                <a href="{{ img.image1.url }}"><img src="{{img.image1.url}}" class="img-fluid" width="100%" height="50%" alt="image"></a>
            </div>
            <div class="col-md-6">    
                <a href="{{ img.image2.url }}"><img src="{{img.image2.url}}" class="img-fluid" width="100%" height="350px" alt="image"></a>
        </div>
    </div>
    
    <div class="col-md text-center mt-4">
        <p>Description:</p>
        <p>{{ data.description }}</p>
    </div>
    <hr style="width: 100%;">
    <div class="table-responsive mt-4">
        <table class="table table-sm ">
            <thead>
                <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Amount Requested</th>
                <th>Amount Recieved</th>
                <th>Document</th>
                {% if data.current_user|to_int == request.user.id %}
                    <th>Actions</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr class="table-primary">
                <td>{{data.name}}</td>
                <td>{{data.address}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.email}}</td>
                <td>Rs {{data.amount}}</td>
                <td>Rs {{data.amount_recieved}}</td>
                <td><a href="{{ data.document.url }}" class="btn btn-outline-info" target="blank">Document</a></td>
                <td>
                    {% if data.current_user|to_int == request.user.id %}
                    <a href="{% url 'update' data.id %}" class="btn btn-outline-success" target="blank">Update</a>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'delete' data.id %}" class="btn btn-outline-danger" target="blank">Delete</a>
                    {% endif %}
                </td>
                </tr>
            </tbody>
        </table>
      </div>
    
    <div class="row text-center mt-4">
        <div class="col-md">
            <p>People who donated {{ data.name }}</p>
            {% for d in donor %}
            <p>{{ d.name }} --> Rs {{ d.amount }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row text-center mt-4">
        <hr style="width: 100%;">
        <div class="col text-center" style="margin-bottom: 100px;">
            {% if data.verification_status %}
            <a href="{% url 'charge' data.id %}" class="card-link btn btn-outline-dark">Donate with marstercard</a>
            
            <button class="btn btn-outline-dark" id="payment-button">Donate with Khalti</button>
            {% endif %}
            
        </div>
    </div>
    <script>
        function verifyPayment(payload){
            $.ajax({
                url: "{% url 'verify-khalti-payment' data.id %}",
                type: "POST",
                data: payload,
                dataType: 'json',
                success: function (response) {alert (response)},
                error: function (error) {alert (error.responseJSON['message']) }
            });
        }
        var config = {
            // replace the publicKey with yours
            "publicKey": "test_public_key_2f846ee2f565452687aaeaa1d51144df",
            "productIdentity": "1234567890",
            "productName": "Dragon",
            "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
                onSuccess (payload) {
                    // hit merchant api for initiating verfication
                    console.log(payload);
                    verifyPayment(payload);
                    // window.location.replace("https://khalti.com/api/v2/merchant-transaction/");
                },
                onError (error) {
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({amount: 1000});
        }
    </script>
    {% endblock content %}
    